.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 550px;
}

.li {
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: #f3f3f3;
  width: 20%;
  height: 400px;
  margin: 15px 0;
  text-align: center;
}

.main-title {
  text-align: center;
}

.main-btn {
  padding: 8px 35px;
  margin: 15px 0;
}

.main-text {
  padding-top: 15px;
}