* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

footer {
  width: 1440px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  background: rgba(99, 99, 99, 0.864);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-box {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
}

.box {
  padding: 8px;
}

.box-text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.581);
  padding-bottom: 4px;
}

.box-title {
  color: white;
}

.btn {
  border-width: 0;
  padding: 17px 75px;
  background: #91CB82;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.footer-title {
  color: white;
  padding-bottom: 8px;
  font-weight: 600;
}